.home {
    &__container {
        min-height: 100vh;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100vh;
    }

    &__heading {
        font-weight: 900;
        font-size: 96px;
        line-height: 116px;
        text-transform: uppercase;
        max-width: 930px;
        span {
            color: $primary-color;
        }
    }

    &__image {
        width: 543px;
        height: 724px;
        border-radius: 10px;
        background: url(../source/home.png);
        border-radius: 2px solid $text;
    }
}
